.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    align-items: top;
  }

    
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
  }

  img {
    height: 25vh;
  }